body {
  background: #f9f7fe;
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  line-height: 24px;
  font-weight: 500;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background: white;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
}
#city-input {
  background: #f9f7fe;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
}
#search-button {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

h1 {
  font-size: 38px;
  margin-top: 30px;
  border-top: 1px solid #f9f7fe;
  line-height: 48px;
  padding-top: 30px;
}
.weather-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
  margin-bottom: -100px;
}
.weather-details strong {
  color: #f65282;
}
.temperature {
  display: flex;
  justify-content: right;
}

.weather-icon {
  display: flex;

  font-size: 50px;
  margin: 0 10px 0 0;
}
.weather-temperature {
  font-size: 100px;
  font-weight: 800px;
}

.temperature-unit {
  font-size: 28px;
  font-weight: 400;
  margin-top: -25px;
}
a {
  color: #885df1;
}
footer {
  color: rgba(39, 33, 66, 0.4);
  font-size: 15px;
  margin-top: 100px;
  border-top: solid 1px #f9f7fe;
  padding-top: 30px;
}
