body {
  background: #f9f7fe;
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  line-height: 24px;
  font-weight: 500;
}
#city-input {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}
h1 {
  font-size: 38px;
  margin: 0;
  line-height: 48px;
}
