body {
  background: #f9f7fe;
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  line-height: 24px;
  font-weight: 500;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
  background: white;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 6px;
}
#city-input {
  background: #f9f7fe;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}
#search-button {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}
h1 {
  font-size: 38px;
  margin-top: 20px;
  line-height: 48px;
}
.weather-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}
